# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Virtual environment
venv/
env/
ENV/
.venv/

# Flask / base de datos
instance/
*.db
*.sqlite
*.sqlite3

# Variables de entorno
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Distribución
dist/
build/
*.egg-info/